/* variable */

body {
    background-color: #E5E5E5;
    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
}

/* header  */

.link-nav {
color: #212121;
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: black;
}
.web {
    color: #2196F3;
}
.contacts {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
}
.link:hover,
.link:focus,
.link:active
 {
    color: #2196F3;
}

/* main studio*/

.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #fff;
}
.hero-section {
    background-color: #2F303A;
}
.button {
    background-color: #2196F3;
    color: #fff;
}
.section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121; 
}
.third-title {
    font-weight: 700;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}
.section-team {
    background-color: #F5F4FA;
}
.function {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

/* footer */
.footer {
    line-height: 1.71;
}
.adress {
    font-style: normal;
    color: #fff;
}

/* main portfolio  */

.button-studio {
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: #212121;
}

.button-studio:hover,
.button-studio:focus,
.button-studio:active {
    background-color: #2196F3;
    color: #fff;
}